* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: auto;
    min-height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.collab-icon {
    flex-wrap: wrap;
    width: 200px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px;
    cursor: default;   
    font-family: "Cinzel Decorative", serif;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px palegreen;
}

.collab-icon i {
    font-size: 24px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin: 10px;
}

.navbar a:hover {
    background-color: white;
    color: green;
}

.menuContact {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animateContact 0.3s ease;
}

@keyframes animateContact {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.menuContact li {
    list-style: none;
}

.hamContact {
    position: relative;
    height: 30px;
    width: 40px;
    border-radius: 10px;
    padding: 5px;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
}

.hamContact span {
    height: 4px;
    width: 100%;
    background-color: white;
    transform-origin: center;
    transition: all 0.3s ease;
}

.hamContact.active span:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

.hamContact.active span:nth-child(2) {
    opacity: 0;
}

.hamContact.active span:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
}

.bg-image {
    margin: auto;
    height: auto;
    min-height: 400px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg-image img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    animation: contact 0.5s ease-in-out forwards;
}

@keyframes contact {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 738px) {
    .menuContact {
        display: none;
    }
    .hamContact {
        display: flex;
    }
    .menuContact {
        height: auto;
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(105, 175, 105);
        margin: 0;
        top: 100px;
        left: 0;
        width: 100vw;
        text-align: center;
        padding: 20px;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        gap: 50px;
    }
    .menuContact.active {
        display: flex;
        opacity: 1;
        pointer-events: all;
    }
}

@media (max-width: 333px) {
    .collab-icon {
        width: 100px;
    }

    .collab-icon i {
        font-size: 16px;
    }
    h1 {
        font-size: 16px;
    }
}

h2 {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    border: 2px solid green;
    box-shadow: 0 0 10px 5px green;   
    font-family: "Cinzel Decorative", serif;
}

h3 {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}


.social-links {
    margin: 30px 0 0 0;
    height: auto;
    padding: 20px;
    min-height: 30vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#links {
    height: 100px;
    max-height: 150px;
    max-width: 300px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin: 5px;
    border: 3px solid green;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#links:hover {
    transform: scale(1.1);
}

.social-links a img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.social-links a {
    text-decoration: none;
    color: black;
}

.linkedin-image,
.instagram-image,
.github-image,
.x-image,
.gmail-image,
.youtube-image {
    height: auto;
    max-height: 100px;
    width: 100px;
    overflow: hidden; 
}

footer {
  height: auto;
  min-height: 20vh;
  width: 100%;
  background-color: green;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: default;
}

.foot1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
} 

.foot2 p {
  color: white;
  cursor: default;
}

.foot1 div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
}

.foot1 div a {
  margin: 5px;
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;
}

.foot1 i {
  transition: color 0.5s ease;
}

.foot1 div a:hover, i:hover {
  color: black;
}